* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    margin-bottom: 60px;
    text-align: center;
}

.header__menu {
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
}

.header__info-title {
    width: 510px;
    margin: 0 auto;
    font-size: 64px;
    color: #1F3F68;
}

.header__info-text {
    width: 425px;
    margin: 0 auto;
}

.main__info {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
}

.main__info-title {
    width: 100%;
}

.main__info-box {
    width: 359px;
}

.footer {
    padding-bottom: 40px;
}

.footer__content-title {
    width: 495px;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

.footer__support {
    padding: 32px 0;
    display: flex;
    list-style: none;
    text-align: center;
}

.footer__support-item {
    flex-grow: 1;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.heading__second {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading__fourth {
    width: 359px;
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.contacts {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contacts__info,
.contacts__form {
    max-width: 50%;
    flex: 0 0 auto;
}

.contacts__info {
    padding-right: 40px;
}

.contacts__form {
    padding: 40px;
}

.contacts__form-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.contacts__form-btn {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.contacts__map {
    width: 100%;
    height: 384px;
    margin-top: 40px;
    border: 0;
}
